body{
	margin: 0px;
	text-align: center;

}
.main-container{
	width: 100%;
	height: 100%;
}
.logo{
	background-image: url(../img/logo.png);
	width: 163px;
	height: 117px;
	background-repeat: no-repeat;
	margin-top: -125px;
    margin-left: 10px;
}
.field_user{
    display: inline-block;
    width: 20em;
    height: 20em;
    padding-top: 30px;
    
}

.imagemverde{
	background-image: url(../img/verdetopo.png);
	width: auto;
	height: 135px;

}

#log{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	width: 100%;
	font-size: 18px;
	color: #014b3d;
}
.main-container{
	width: 100%;
	max-width: 750px;
	height: 100%;	
}
.usu{
	max-width: 300px;
}
.main-container .usu{
	width: 300px;
}


button{
	font-size: 18px;
	border-radius: 5px; 
	box-sizing: border-box;
	border: 1px solid gray;
	color: #014b3d;
	width: 200px;
}
.id_fieldset{
	line-height:200%;
	border-radius: 34px; 
	box-sizing: border-box;
}



.block{
	display: inline-block;
    width: 300px;
    height: auto;
    margin: 20px;
    border-radius: 5px;
	
}


.small_fieldset{
	line-height:200%;
	border-radius: 34px; 
	box-sizing: border-box;
	width: 300px !important;
	height: auto;
}
.esqueci{
	color: #014b3d;
    text-decoration: none;
}
.usu-container{
	width: 300px;
}
ul {
	list-style: none;
	}
#pedidoDeMat{
	padding: 0px;
	line-height:100%;
}