
.main-container{
	width: 100%;
	height: 100%;
}
.field_user{
    display: inline-block;
    width: 20em;
    height: 20em;
    padding-top: 30px;
    
}


#log{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	width: 320px;
	font-size: 18px;
	color: #014b3d;
}
.main-container{
	width: 100%;
	max-width: 750px;
	height: 100%;
}
.usu{
	max-width: 300px;
}
.main-container .usu{
	width: 300px;
}


button{
	font-size: 18px;
	border-radius: 5px; 
	box-sizing: border-box;
	border: 1px solid gray;
	color: #014b3d;
	width: 200px;
}


.block{
	display: inline-block;
    width: 300px;
    height: auto;
    margin: 20px;
    border-radius: 5px;
	
}


.small_fieldset{
	line-height:200%;
	border-radius: 34px; 
	box-sizing: border-box;
	width: 300px !important;
	height: auto;
}

.usu-container{
	width: 300px;
}
ul {
	list-style: none;
	}
#pedidoDeMat{
	padding: 0px;
	line-height:100%;
}
.tipos_de_materiais{
  font-size: 18px;
  }
tr{
  font-size: 18px;
  size: 200px;
}
.botaopedir{
  width: 100px;
}
table{
  width: auto;
}

th .criarpedido{
  text-align: center;
  size: 200px;
  width: 200px;

}

.containerpedidos{
  width: auto;
}

